<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introducción

Con este cuaderno de Python, podrá:

1. Comprender el uso de una API financiera.
2. Uso de WebScraping para extraer datos de un sitio web.
3. Manejo de dataframes con pandas.

## Pregunta 1: Utilizar yfinance para extraer datos de acciones

Utilizando la función ``Ticker()``, ingrese el símbolo de cotización de la acción de la que queremos extraer datos para crear un objeto de cotización.
La acción es Tesla y su símbolo de cotización es 'TSLA'.

In [29]:
#Importamos las librerias necesarias 
import yfinance as yf
import pandas as pd

In [ ]:
# Instaciamos un objeto Ticker para descargar los datos financieros con el simbolo que le pasamos
# como parametro y lo guardamos en la variable tesla.
tesla = yf.Ticker("TSLA")

Utilizando el objeto ticker y la función ``history()``, extraiga información bursátil y guárdela en un dataframe llamado ``tesla_data``.
Establezca el parámetro de período en ``"max"`` para que obtengamos información durante la máxima cantidad de tiempo.

In [30]:
tesla_data = tesla.history(period='max')

Restablezca el índice, guarde y muestre las primeras cinco filas del dataframe ``tesla_data`` utilizando la función ``head()``.
Tome una captura de pantalla de los resultados.

In [31]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Pregunta 2: Utilice el web scraping para extraer datos de ingresos de Tesla

In [32]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'

In [ ]:
# extraemos y guardamos la tabla de la url de 'Ingresos Anuales de Tesla' en un dataframe
# de pandas. Esta tabla es la primera que aparece en el sitio por eso usamos el indice [0].
tesla_revenue = pd.read_html(url)[0]

print(tesla_revenue)

    Tesla Annual Revenue (Millions of US $)  \
0                                      2021
1                                      2020
2                                      2019
3                                      2018
4                                      2017
5                                      2016
6                                      2015
7                                      2014
8                                      2013
9                                      2012
10                                     2011
11                                     2010
12                                     2009

   Tesla Annual Revenue (Millions of US $).1
0                                    $53,823
1                                    $31,536
2                                    $24,578
3                                    $21,461
4                                    $11,759
5                                     $7,000
6                                     $4,046
7                                     $3,198
8                                     $2,013
9                                       $413
10                                      $204
11                                      $117
12                                      $112

Muestra las últimas cinco filas del dataframe ``tesla_revenue`` mediante la función ``tail()``. Sube una captura de pantalla de los resultados.

In [35]:
tesla_revenue.dropna(inplace=True)
tesla_revenue.columns = ['Date', 'Revenue (x millions of US$)']
tesla_revenue.tail()

    Date Revenue (x millions of US$)
8   2013                      $2,013
9   2012                        $413
10  2011                        $204
11  2010                        $117
12  2009                        $112

## Pregunta 3: Utilizar yfinance para extraer datos bursátiles

Restablezca el índice, guarde y muestre las primeras cinco filas del dataframe ``gme_data`` utilizando la función ``head()``. Cargue una captura de pantalla de los resultados y el código desde el comienzo de la pregunta 1 hasta los resultados que aparecen a continuación.

In [9]:
gme =yf.Ticker("GME")

In [10]:
gme_data = gme.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Pregunta 4: Utilizar el web scraping para extraer datos de ingresos de GME
Muestra las últimas cinco filas del dataframe de ingresos del juego usando la función ``tail()``. Sube una captura de pantalla de los resultados.

In [11]:
url2 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

In [18]:
gme_revenue = pd.read_html(url2)[1]
gme_revenue.dropna(inplace=True)
gme_revenue.columns = ['Date', 'Revenue (x millions of US$).']
gme_revenue.tail()

          Date Revenue (x millions of US$).
57  2006-01-31                       $1,667
58  2005-10-31                         $534
59  2005-07-31                         $416
60  2005-04-30                         $475
61  2005-01-31                         $709