# Question 1: Use the yfinance to Extract Stock Data

 Using the Ticker function, enter the ticker symbol of the stock we want to extract data on to create a ticker object.
 The stock is Tesla and its ticker symbol is TSLA.

In [13]:
import yfinance as yf
import pandas as pd

In [14]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function history, extract stock information and save it in a dataframe named "tesla_data".
Set the period parameter to "max" so that we get information for the maximun amount of time.

In [11]:
tesla_data = tesla.history(period="max")

Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function.
Take a screenshot of the results.

In [15]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [ ]:
tesla_revenue = tesla_data.tail()

,level_0,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
3607,3607,3607,2024-10-28 00:00:00-04:00,270.000000,273.540009,262.239990,262.510010,107653600,0.0,0.0
3608,3608,3608,2024-10-29 00:00:00-04:00,264.510010,264.980011,255.509995,259.519989,80521800,0.0,0.0
3609,3609,3609,2024-10-30 00:00:00-04:00,258.040009,263.350006,255.820007,257.549988,53993600,0.0,0.0
3610,3610,3610,2024-10-31 00:00:00-04:00,257.989990,259.750000,249.250000,249.850006,66575300,0.0,0.0
3611,3611,3611,2024-11-01 00:00:00-04:00,252.039993,254.000000,246.630005,248.979996,57424000,0.0,0.0