# Question 1: Use the yfinance to Extract Stock Data

 Using the ``Ticker()`` function, enter the ticker symbol of the stock we want to extract data on to create a ticker object.
 The stock is Tesla and its ticker symbol is 'TSLA'.

In [2]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function ``history()``, extract stock information and save it in a dataframe named ``tesla_data``.
Set the period parameter to ``"max"`` so that we get information for the maximun amount of time.

In [6]:
tesla_data = tesla.history(period='1mo')

Reset the index, save, and display the first five rows of the ``tesla_data`` dataframe using the ``head()`` function.
Take a screenshot of the results.

In [7]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-10-02 00:00:00-04:00,247.550003,251.160004,241.500000,249.020004,93983900,0.0,0.0
1,2024-10-03 00:00:00-04:00,244.479996,249.789993,237.809998,240.660004,80729200,0.0,0.0
2,2024-10-04 00:00:00-04:00,246.690002,250.960007,244.580002,250.080002,86573200,0.0,0.0
3,2024-10-07 00:00:00-04:00,249.000000,249.830002,240.699997,240.830002,68113300,0.0,0.0
4,2024-10-08 00:00:00-04:00,243.559998,246.210007,240.559998,244.500000,56303200,0.0,0.0

# Question 2: Use Webscraping to Extract Tesla Revenue Data

In [8]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'

In [9]:
tesla_revenue = pd.read_html(url)[1]

Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.

In [10]:
tesla_revenue.dropna(inplace=True)
tesla_revenue.columns = ['Date', 'Revenue (x millions of US$)']
tesla_revenue.tail()

          Date Revenue (x millions of US$)
48  2010-09-30                         $31
49  2010-06-30                         $28
50  2010-03-31                         $21
52  2009-09-30                         $46
53  2009-06-30                         $27

# Question 3: Use yfinance to Extract Stock Data

Reset the index, save, and display the first five rows of the gme_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [11]:
gme =yf.Ticker("GME")

In [12]:
gme_data = gme.history(period="1mo")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-10-02 00:00:00-04:00,21.860001,22.299999,21.410000,21.490000,5673100,0.0,0.0
1,2024-10-03 00:00:00-04:00,21.360001,21.790001,21.110001,21.200001,4665800,0.0,0.0
2,2024-10-04 00:00:00-04:00,21.480000,21.969999,21.290001,21.400000,5286200,0.0,0.0
3,2024-10-07 00:00:00-04:00,21.350000,21.530001,20.809999,20.900000,5988000,0.0,0.0
4,2024-10-08 00:00:00-04:00,20.900000,21.270000,20.530001,20.709999,4840500,0.0,0.0

# Question 4: Use Webscraping to Extract GME Revenue Data

Display the last five rows of the gme_revenue dataframe using the ``tail()`` function. Upload a screenshot of the results.

In [13]:
url2 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

In [14]:
gme_revenue = pd.read_html(url2)[1]
gme_revenue.dropna(inplace=True)
gme_revenue.columns = ['Date', 'Revenue (x millions of US$).']
gme_revenue.tail()

          Date Revenue (x millions of US$).
57  2006-01-31                       $1,667
58  2005-10-31                         $534
59  2005-07-31                         $416
60  2005-04-30                         $475
61  2005-01-31                         $709

# Question 5: Plot Tesla Stock Graph

Use the ``make_graph()`` function to graph the Tesla Stock Data, also provide a title for the graph.
Upload a screenshot of your results.

In [18]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [ ]:
make_graph(tesla_data, tesla_revenue, 'Tesla')