# Question 1: Use the yfinance to Extract Stock Data

 Using the ``Ticker()`` function, enter the ticker symbol of the stock we want to extract data on to create a ticker object.
 The stock is Tesla and its ticker symbol is 'TSLA'.

In [41]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [65]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function ``history()``, extract stock information and save it in a dataframe named ``tesla_data``.
Set the period parameter to ``"max"`` so that we get information for the maximun amount of time.

In [67]:
tesla_data = tesla.history(period='max')

Reset the index, save, and display the first five rows of the ``tesla_data`` dataframe using the ``head()`` function.
Take a screenshot of the results.

In [68]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

# Question 2: Use Webscraping to Extract Tesla Revenue Data

In [69]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'

In [70]:
tesla_revenue = pd.read_html(url)[1]

Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.

In [71]:
tesla_revenue.dropna(inplace=True)
tesla_revenue.columns = ['Date', 'Revenue (x millions of US$)']
tesla_revenue.tail()

          Date Revenue (x millions of US$)
48  2010-09-30                         $31
49  2010-06-30                         $28
50  2010-03-31                         $21
52  2009-09-30                         $46
53  2009-06-30                         $27

# Question 3: Use yfinance to Extract Stock Data

Reset the index, save, and display the first five rows of the gme_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [72]:
gme =yf.Ticker("GME")

In [73]:
gme_data = gme.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

# Question 4: Use Webscraping to Extract GME Revenue Data

Display the last five rows of the gme_revenue dataframe using the ``tail()`` function. Upload a screenshot of the results.

In [74]:
url2 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

In [75]:
gme_revenue = pd.read_html(url2)[1]
gme_revenue.dropna(inplace=True)
gme_revenue.columns = ['Date', 'Revenue (x millions of US$).']
gme_revenue.tail()

          Date Revenue (x millions of US$).
57  2006-01-31                       $1,667
58  2005-10-31                         $534
59  2005-07-31                         $416
60  2005-04-30                         $475
61  2005-01-31                         $709

# Question 5: Plot Tesla Stock Graph

Use the ``make_graph()`` function to graph the Tesla Stock Data, also provide a title for the graph.
Upload a screenshot of your results.

In [76]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [79]:
make_graph(tesla_data, tesla_revenue, 'tesla')

C:\Users\Pc\AppData\Local\Temp\ipykernel_26160\3316612210.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

C:\Users\Pc\AppData\Local\Temp\ipykernel_26160\3316612210.py:6: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

AttributeError: 'DataFrame' object has no attribute 'Revenue'